h1 {
  text-align: center;
}

#content {
  width: 240px;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: block;
  text-align: center;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.tile {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  background: lightgray;
  border-style: outset;
  border-width: 2px;
}

.explored {
  border-style: inset;
}

.flagged, .bombed {
  color: red;
}

.modal {
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  width: 125px;
  height: 100px;
  line-height: 50px;
  transform: translateX(-50%) translateY(-50%);
}

.modal-back {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .7);
}
